@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab-Bold.woff") format("woff"),
    url("../fonts/RobotoSlabBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LatoBlack";
  src: url("../fonts/Lato-Black.woff") format("woff"),
    url("../fonts/Lato-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LatoHeavy";
  src: url("../fonts/Lato-Heavy.woff") format("woff"),
    url("../fonts/lato-heavy.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LatoHeavyItalic";
  src: url("../fonts/Lato-HeavyItalic.woff") format("woff"),
    url("../fonts/Lato-HeavyItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/Lato-Regular.woff") format("woff"),
    url("../fonts/LatoRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
