@font-face {
  font-family: "RobotoSlabBold";
  src: url("../fonts/RobotoSlabBold.woff") format("woff"),
    url("../fonts/RobotoSlabBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LatoBlack";
  src: url("../fonts/LatoBlack.woff") format("woff"),
    url("../fonts/LatoBlack.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LatoHeavy";
  src: url("../fonts/LatoHeavy.woff") format("woff"),
    url("../fonts/LatoHeavy.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LatoHeavyItalic";
  src: url("../fonts/LatoHeavyItalic.woff") format("woff"),
    url("../fonts/LatoHeavyItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato.woff") format("woff"),
    url("../fonts/Lato.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
