@media  (max-width: 1200px)
  .container
    width: 1050px
  .tabs-wrapper
    width: 1050px
  .tabs-list__item
    padding: 10px 25px 11px
  .news-grid
    grid-gap: 17px
  .news-grid__popular
    padding: 19px 12px 25px
  .popular
    &__bottom
      width: 200px
      max-width: 100%
    &__info
      min-width: 138px

  .popular__card
    left: 12px
  .primary__bottom
    padding: 12px 22px
  .primary__img
    height: 250px
  .news-grid__primary
    padding: 35px 27px 55px
  .sidebar
    grid-template-columns: 263px
    grid-gap: 17px
  .news-grid
    width: 771px
  .post
    padding: 17px 17px 24px
    &__title
      font-size: 15px
  .post__text
    font-size: 13px
  .download__text
    font-size: 15px
  .sidebar
    &__ul
      margin: 15px
    &__li
      margin-right: 8px
      margin-bottom: 12px
  .newsline__img
    width: 280px
  .newsline__block
    width: 768px
  .circle
    top: 131px
    right: 48px
    width: 220px
    height: 220px
  .grid__questions
    overflow: hidden

  .questions__bg
    right: -12px
@media  (max-width: 1100px)
  .container
    width: 950px
  .header__menu
    width: 465px
  .tabs-wrapper
    width: 950px
  .tabs-list__item
    padding: 10px 18px 11px
  .grid-wrapper
    flex-direction: column
  .news-grid
    width: 100%
  .popular__bottom
    width: 200px
    max-width: 100%
  .primary__img
    height: 285px
  .primary__bottom-wrapper
    width: 100%
  .primary__bottom
    padding: 12px 105px 12px 22px
  .sidebar
    grid-template-columns: repeat(4, 225px)
    grid-template-rows: 170px
    padding-top: 17px
  .tags__title
    padding: 9px 25px 3px
  .sidebar__social
    padding: 30px 10px
  .sidebar__download
    padding: 15px 25px 50px
  .sidebar__tags
    grid-row-start: auto
    grid-column:
    grid-column: span 2

  .newsline
    &__img
      align-self: center
    &__aside
      width: 260px
    &__block
      width: 672px
  .slider__title
    font-size: 30px
  .grid__questions-text
    z-index: 5
@media  (max-width: 985px)
  .container
    width: 700px
  .header__menu--hide
    display: none
  .header__form--hide
    display: none
  .tabs-wrapper
    width: 700px
  .tabs__preview
    width: 552px
  .tab-author
    margin-bottom: 70px
  .news-block__list
    display: flex
    flex-wrap: wrap
  .news-block__item
    flex-basis: 50%
    margin: 5px 0 5px
  .primary__bottom
    padding: 12px 22px 12px
  .primary__author-name
    margin-left: 10px
  .primary__img
    height: 210px
    top: 30px
  .sidebar__social
    display: none
  .sidebar
    grid-template-columns: repeat(3, 222px)
  .sidebar
    &__ul
      margin-bottom: 0px
    &__li
      margin-bottom: 10px
  .article__title
    font-size: 33px
    width: 95%
  .container--flex
    flex-direction: column
  .newsline
    &__block
      width: 100%
    &__aside
      width: 100%
      margin-top: 30px
  .aside__right
    width: 143px
    margin-left: 35px
  .aside__item
    justify-content: flex-start
  .footer__ending
    align-items: center
    &-text
      width: 453px
  .footer__social
    flex-wrap: wrap
  .social-icon
    margin-top: 10px
  .slider__title
    font-size: 23px
  .grid__news
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(4, 170px)
  .grid__slider-window
    grid-row: span 2
    grid-column: span 2
  .grid__questions
    grid-column-start: 1
    grid-row: span 2
    grid-column: 1 / span 2
  .swiper-pagination-bullets
    margin-bottom: 23px
  .burger-menu
    display: flex
  .header
    position: fixed
    z-index: 500
    width: 100%
  .tabs-wrapper
    top: 90px
  .tabs
    height: 573px

@media  (max-width: 760px)
  .container
    width: 500px
  .tabs-wrapper
    width: 500px
  .tabs__preview
    padding: 30px 10px 30px 30px
  .tab-title
    font-size: 23px

  .tab-text
    font-size: 12px
  .tabs__recommend
    padding: 16px 25px 16px
  .tabs__preview
    width: 403px
  .news-grid
    grid-template-columns: repeat(2, 1fr)
  .primary__author-name
    margin-left: 0px
  .news-grid__popular
    grid-column: span 2
  .secondary__img
    height: 100%
    max-height: 262px
  .news-grid__popular
    padding: 19px 31px 25px
  .sidebar__tags
    order: -1
  .sidebar
    width: 100%
    grid-template-columns: repeat(2, 1fr)
  .sidebar__social
    display: block
  .download__file
    top: 16px
  .newsline__item
    flex-direction: column
  .newsline__img
    width: 100%
    align-self: flex-start
  .newsline__bookmark
    top: 225px
  .newsline__about
    margin-left: 0px
  .newsletter-title
    font-size: 32px
  .footer__links
    flex-wrap: wrap
  .footer__column
    width: 166px
  .footer__ending
    flex-direction: column
    align-items: flex-start
    &-text
      width: 453px
      margin-bottom: 10px
  .tab-author
    margin-bottom: 105px
  .slider__title
    margin: 25px 0 19px
  .slider__author
    margin-top: 33px
@media  (max-width: 580px)
  .head
    width: 580px
  .container
    width: 400px
  .tabs-wrapper
    width: 400px
    flex-direction: column
  .tabs__menu
    order: -1
    position: absolute
    top: 0
    width: 100%
    z-index: 60
  .tabs__preview
    padding: 100px 10px 30px 30px
  .tabs__recommend
    background-color: #fff
    padding: 18px 25px 18px
    &--mobile
      &:hover
        cursor: pointer
  .tabs-list__item
    display: none
  .tabs-list__item--expanded
    background-color: #fff
    display: block
  .news-block__item
    flex-basis: 100%
    &:not(:last-child)
      border-bottom: 1px solid #4B5157
      margin: 0
  .news-block__list
    padding: 10px 0
  .primary__img
    height: 142px
    top: 65px
  .primary__author-name
    margin-left: 9px
  .primary__bottom
    flex-wrap: wrap
    justify-content: flex-start
  .post
    height: 193px
  .sidebar
    grid-template-rows: 210px
  .social-wrapper
    width: 165px
  .newsline__about
    max-width: 100%
  .newsletter-form
    flex-direction: column
    width: 100%
  .newsletter-input
    margin-right: 0px
    width: 280px
  .newsletter-button
    margin-top: 10px
  .footer__column
    width: 50%
  .footer__ending
    &-text
      width: 100%
  .footer__links-ul
    flex-direction: column
    align-items: flex-start
    width: 100%
    flex-basis: 100%
    // order: 1
    margin-top: 10px
  .footer__links-about
    flex-wrap: wrap
  .footer__social
    flex-direction: column
  // .footer__links-item
  //   font-size: 11px
  .social-icon
    margin-top: 30px
  .circle
    opacity: 0.5
  .questions__bg
    opacity: 0.5
  .grid__questions-button
    z-index: 10
  .grid__questions-theme
    color: #30657f
  .grid__questions
    &-review
      color: #35393d
    &-title
      color: #000000
  .grid-post
    grid-column: span 2

@media  (max-width: 480px)
  .container
    width: 280px
  .tabs-wrapper
    width: 280px
  .tab-title
    width: 233px
  .tabs__preview
    width: 100%
  .tab-author
    margin-bottom: 47px
  .news-grid
    grid-template-rows: repeat( 4, 184px)
  .primary__img
    opacity: 0.4
    z-index: -1
    top: 65px
    right: -11px
  .news-grid__primary
    z-index: -2
    grid-column: span 1
    grid-row: span 2
  .news-grid__secondary
    position: relative
    grid-column: span 1
    grid-row: span 1
  .news-grid
    grid-template-columns: repeat(1, 1fr)
  .news-grid__popular
    grid-column: span 1
  .sidebar
    grid-template-columns: repeat(1, 1fr)
  .sidebar__tags
    grid-column: span 1
    grid-row: span 2
  .article__title
    font-size: 26px
  .aside__right
    margin-left: 22px
  .tab-title
    font-size: 21px
  .swiper-pagination-bullets
    margin-bottom: 11px
  .questions__bg
    display: none
  .circle
    top: 67px
  .grid__news
    grid-template-rows: repeat(4, 180px)
  .slider__title
    margin: 14px 0 19px
    font-size: 22px
    line-height: 43px
