.footer
  background-color: #fff
  height: 700px
  &__links
    display: flex

.newsletter
  &-block
    padding: 61px 0 70px

  &-title
    margin: 0
    margin-bottom: 24px
    text-align: center
    font-family: RobotoSlabBold
    font-style: normal
    font-weight: normal
    font-size: 40px
    line-height: 50px
    color: #262D33
  &-form
    width: 459px
    margin-right: auto
    margin-left: auto
    display: flex
    align-items: center
  &-button
    background-color: #4592FF
    padding: 10px 25px
    border-radius: 20px
    border: none
    outline: none
    font-family: Lato
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 20px
    color: #FFFFFF
    min-width: 136px
  &-input
    width: 313px
    border-radius: 5px
    outline: none
    border: 1px solid #D9DADB
    padding: 10px 15px 8px
    font-family: Lato
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 20px
    color: #000000
    margin-right: 10px
    &:placeholder
      color: #939699

.footer
  &__column
    width: 195px
    border: 5px solid #000000
    border-bottom: none
    border-right: none
    border-left: none
    &--1
      border-color: #FF4F52
    &--2
      border-color: #AC8EE3
    &--3
      border-color: #4592FF
    &--4
      border-color: #FFA34D
    &--5
      border-color: #3DC47E
    &--6
      border-color: #6E99AE
      width: 165px
  &__title
    margin: 30px 0 25px

    font-family: Lato
    font-style: normal
    font-weight: 900
    font-size: 14px
    line-height: 20px
    color: #262D33
  &__ul
    list-style-type: none
    padding: 0
    margin: 0
    font-family: Lato
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 20px
    color: #4B5157
  &__li
    margin: 0
    display: block
    margin-top: 15px
.column-link
  text-decoration: none
  color: inherit
  &:hover
    text-decoration: underline
