.news
  padding: 155px 0px 60px
  &__img
    height: 65px
    width: 65px
    object-fit: cover
    margin-left: 15px
  &-block
    &__text
      font-family: Lato
      font-style: normal
      font-weight: 900
      font-size: 14px
      line-height: 20px
      color: #FFFFFF
      width: 154px
    &__list
      display: flex
      align-items: center
      margin: 0
      padding: 0
      background-color: #30363D
      padding: 25px 0 30px
      border-radius: 10px
    &__item
      // width: 283px
      list-style-type: none
      display: flex
      justify-content: space-between
      align-items: center
      padding: 5px 25px

.item--lr
  border: 1px solid #4B5157
  border-left: none
  border-top: none
  border-bottom: none
.sidebar
  width: 263px
  &__download
    position: relative
    overflow: hidden
    border-radius: 10px
    // height: 200px
    padding: 25px 25px 50px
    background-color: #3BBDC4
    z-index: 1
.download
  &__icon
    margin-right: 11px
  &__span
    font-family: Lato
    font-style: normal
    font-weight: 900
    font-size: 14px
    line-height: 20px
    color: #FFFFFF
  &__text
    font-family: RobotoSlabBold
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 25px
    color: #FFFFFF
    z-index: 10
  &__size
    display: block
    font-family: Lato
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 20px
    color: #C1F4F5
    margin-top: 10px
    z-index: 10
  &__file
    position: absolute
    top: 24px
    right: 22px
    z-index: -2
  &__button
    position: absolute
    right: 0
    left: 0
    bottom: 0
    width: 100%
    padding: 12px 30px 13px
    background-color: #3BBDC4
    border: 1px solid #96E2E3
    border-bottom: none
    border-right: none
    border-left: none
    display: flex
    align-items: center
    justify-content: center
    &:hover
      cursor: pointer
      background-color: #35a7ad
.sidebar
  display: grid
  grid-template-columns: 263px
  grid-row-gap: 30px
  &__ul
    padding: 0
    list-style-type: none
    margin: 25px 15px 25px 25px
    display: flex
    flex-wrap: wrap
  &__li
    border: 1px solid #D9DADB
    border-radius: 5px
    padding: 5px 14px 2px 16px
    font-family: Lato
    font-style: normal
    font-weight: 900
    font-size: 14px
    line-height: 20px
    color: #262D33
    margin-right: 10px
    margin-bottom: 16px
  &__tags
    overflow: hidden
    border-radius: 10px
    // height: 370px
    background-color: #fff
.tags
  &__title
    padding: 21px 25px 19px
    border: 1px solid #D9DADB
    border-top: none
    border-right: none
    border-left: none
    font-family: Lato
    font-style: normal
    font-weight: 900
    font-size: 14px
    line-height: 20px
    letter-spacing: 0.5px
    text-transform: uppercase
    color: #262D33
    margin: 0

.sidebar
  &__social
    background-color: #fff
    padding: 30px 25px
    border-radius: 10px
    overflow: hidden
.social
  &__title
    font-family: RobotoSlabBold
    font-style: normal
    font-weight: bold
    font-size: 20px
    line-height: 25px
    color: #262D33
    margin: 0
    margin-bottom: 25px
    text-align: center
  &-wrapper
    display: flex
    justify-content: space-between
    width: 190px
    margin: 0 auto
