.news
  padding: 155px 0px 60px
  &__img
    height: 65px
    width: 65px
    object-fit: cover
    margin-left: 15px
  &-block
    &__text
      font-family: Lato
      font-style: normal
      font-weight: 900
      font-size: 14px
      line-height: 20px
      color: #FFFFFF
      width: 154px
    &__list
      display: flex
      align-items: center
      margin: 0
      padding: 0
      background-color: #30363D
      padding: 25px 0 30px
      border-radius: 10px
    &__item
      // width: 283px
      list-style-type: none
      display: flex
      justify-content: space-between
      align-items: center
      padding: 5px 25px

.item--lr
  border: 1px solid #4B5157
  border-left: none
  border-top: none
  border-bottom: none
